<section class="container">
  <Header></Header>
  <SocialNetwork></SocialNetwork>
  <div class="close animated-link" @click="close">
    <span>Close</span>
  </div>
  <div id="about" class="about">
    <div class="about-row">
      <div class="about-col-left">
        <h3 class="fading-block">
          I'm Pauline Taveneau, a 22 years old
          French Designer based in Paris. <br>
          Currently in 4<sup>th</sup> year at <a class="animated-link" href="http://www.hetic.net/" target="_blank">HETIC</a>
        </h3>
        <p class="fading-block">
          Specialized in webdesign, identity and interface design,
          I spent 3 months at <b>BETC Digital</b> and 4 months in <b>FOVE agency</b>. <br>
          I'm currently learning Motion Design and Photography.
        </p>
        <p class="fading-block">
          I'm looking for <b>6 months internship</b> from <b>July to December</b> as an <b>Junior Art Director</b>
        </p>
        <p class="fading-block">
          You can contact me here: <a class="animated-link" href="mailto:taveneaupauline@gmail.com">taveneaupauline@gmail.com</a>
        </p>
      </div>
      <div class="about-col-right">
        <img src="/static/images/about/me.jpg" alt="Pauline Taveneau">
      </div>
    </div>
  </div>
  <div class="thanks">
    Thanks to <a class="animated-link" href="https://twitter.com/anthelme_dumont" target="_blank">Anthelme</a> for coding this website
  </div>
</section>
