$primaryColor: #f5b8a7;

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  height: 100vh;
  z-index: 1;

  h1 {
    font-size: 92px;
    font-family: 'KeplerStd-Disp', serif;
    font-weight: normal;
    margin: auto;
    opacity: 0;
    cursor: pointer;
    z-index: 1;

    img {
      width: 595px;
      height: auto;
    }
  }

  .overviews, .overviews-titles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .overviews-titles {
    opacity: 0;
    pointer-events: none;
  }
}

.fixed-height {
  position: absolute;
  display: block;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
}

#mouse-scroll {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: auto;
  opacity: 0;
  color: $primaryColor;

  svg {
    height: 41px;
    width: auto;
    margin-bottom: 5px;
  }

  .cls-1 {
    fill: none;
    stroke: $primaryColor;
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }

  .cls-2 {
    fill: $primaryColor;
    animation: anim-mouse 2.5s linear infinite;
  }
}

@keyframes anim-mouse {
  0% {
    opacity: 1;
    cy: 29%;
  }
  15% {
    opacity: 1;
    cy: 50%;
  }
  50% {
    opacity: 0;
    cy: 50%;
  }
  100% {
    opacity: 0;
    cy: 29%;
  }
}
