<div :id="'overview-' + index"
     class="overview"
     @mouseover="handleMouseOver"
     @mouseout="handleMouseOut">
  <router-link v-if="routeName" @click="handleClick" :to="{ name: 'projects', params: { name: routeName }}">
    <img :src="imageProperties.src"
         :alt="name"
         :style="{ transform: imageProperties.transform, filter: imageProperties.filter }">
  </router-link>
</div>
